@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
body{
    padding: 0%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
                        "n n n"
                        "a a as"
                        "f f f";   
    background-color: rgb(243, 194, 204);
    font-family: 'Roboto';
}
header, nav, article, aside, footer{
    padding: 5px;
}
header{
    grid-area: h;
    text-align: center;
    text-decoration: underline;
    font-family: 'Indie Flower';
    font-size: 50px;
}
nav{
    grid-area: n;
}
.menu a{
    padding: 5px;
    text-decoration: none;
    border: 1px solid lightgray;
}
.menu li{
    list-style-type: none;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
article{
    grid-area: a;
}
.termekek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.elado{
    padding: 5px;
    margin: 15px;
    background-color: white;  
    border: 1px solid gray;
}
article img{
    width: 100%;
}
article .nev{
    font-family: 'Cormorant Garamond';
}
article .kosar{
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.vasarlas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ar{
    text-align: right;
    margin: auto;
    border: 1px solid lightgray; 
    padding: 5px;
}
aside{
    grid-area: as;
    background-color: white;
    border: 1px solid gray;
    margin: 20px;
}
.fizetes{
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(253, 235, 213);
    color: red;
    padding: 2px;
}
footer{
    grid-area: f;
    text-align: center;
    text-decoration: underline;
    font-family: 'Indie Flower';
    font-size: 25px;
}
@media only screen and (max-width: 800px){
    main{
        font-size: calc( 8px + 2vw )
    }
    .termekek{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 400px){
    main{
        grid-template-columns: 1fr;
        grid-template-areas: "h"
                            "as"
                            "n"
                            "a"
                            "f";
        font-size: calc( 8px + 5vw );
    }
    .menu{
        grid-template-columns: 1fr;
    }
    .termekek{
        grid-template-columns: 1fr;
    }
}